$border-radius-sm : 0.125rem;
$border-radius : 0.2rem;

$theme-spacer: (
        'rg': 1,
        'sm': 0.5,
        'xs': 0.25,
        'md': 2,
        'lg': 4,
        'xl': 8,
        'gutter': 2
);

$skew-deg: -2deg;
$skew-deg-neg: 2deg;
$clippath: calc(var(--section-container-width) * 0.02);