/// Regular font family
/// @type List
$text-font-stack: "Inter", "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/* -------------------------------- Font-Size ------------------------------- */

$font-size-regular: 1rem;

$font-size-map: (
  "tiny": 0.64,
  "small": 0.8,
  "regular": 1,
  "large": 1.25,
  "subline": 1.563,
  "headline": 1.953,
  "subtitle": 2.441,
  "title": 3.052,
  "display": 3.25
);
