article,
.article {
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--spacer-lg);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  & > * {
    padding: 0 var(--article-container-padding);
  }
  &__hero {
    margin-bottom: calc(var(--spacer-lg) * -1) !important;
  }
  &__category {
    margin-bottom: var(--spacer-md);
    padding-left: var(--grid-gutter-width);
    padding-right: $textbox-polygon-padding-x;
  }
}
